<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

  <span class="input-group-addon">
    <span class="navbar-brand"><img src="favicon.ico" style="width:30px;"></span>


    <span class="navbar-brand" href="#">
      Masterplan
    </span>
  </span>

</nav>
