@import "~src/assets/variables.scss";

:host {
  box-sizing: border-box;
  display: none;
  position: absolute;
  right: 0;
  top: 0;
  width: 300px;
  height: 100%;
  padding: 20px 10px;
  background: $main_background_color;
  padding-top:2px;
}

:host.is-open {
  display: block;
}

h1 {
  color:$chronicle_font_color;
  font-size:12px;
}

.chronicle-text {
  background-color:#363C49;
  color:white;
  min-height:400px;
}
