<div class="container">
  <h1>
    {{_chronicle.day.date.format("dddd DD.MM.YYYY")}}
  </h1>
  <textarea class="form-control chronicle-text" [(ngModel)]="record" placeholder="..." (ngModelChange)="recordChanged($event)"></textarea>
</div>
