<router-outlet></router-outlet>
<div id="container" style="overflow:hidden;">
  <div class="row">
    <div class="col">
      <app-calendar-toolbox></app-calendar-toolbox>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <app-calendar></app-calendar>
    </div>
    <div class="col">
      <app-chronicle></app-chronicle>
    </div>
  </div>
</div>
