/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";

html, body {
  position:absolute;
  height: 100%;
  width:100%;
}

hml, body, div {
    margin: 0;
    padding: 0;
}
